@import url(https://fonts.googleapis.com/css?family=Droid+Serif:400,400italic|Montserrat:400,700);

ul {
  list-style: none;
}

.cf:before, .cf:after {
	content: " ";
	display: table;
}

.cf:after {
	clear: both;
}

.cf {
	*zoom: 1;
}

.wrap {
	width: 75%;
	max-width: 960px;
	margin: 0 auto;
	padding: 5% 0;
	margin-bottom: 5em;
}

.projTitle {
	font-family: "Montserrat", sans-serif;
	font-weight: bold;
	text-align: center;
	font-size: 2em;
	padding: 1em 0;
	border-bottom: 1px solid #dadada;
	letter-spacing: 3px;
	text-transform: uppercase;
}

.tableHead {
	display: table;
	width: 100%;
	font-family: "Montserrat", sans-serif;
	font-size: .75em;
}
.tableHead li {
	display: table-cell;
	padding: 1em 0;
	text-align: center;
}
.tableHead li.prodHeader {
	text-align: left;
}

.cart {
	padding: 1em 0;
}
.special {
	display: block;
	font-family: "Montserrat", sans-serif;
}
.special .specialContent {
	padding: 1em 1em 0;
	display: block;
	margin-top: .5em;
	border-top: 1px solid #dadada;
}
.special .specialContent:before {
	content: "\21b3";
	font-size: 1.5em;
	margin-right: 1em;
	color: #6f6f6f;
	font-family: helvetica, arial, sans-serif;
}

a.remove {
	text-decoration: none;
	font-family: "Montserrat", sans-serif;
	color: #ffffff;
	font-weight: bold;
	background: #e0e0e0;
	padding: .5em;
	font-size: .75em;
	display: inline-block;
	border-radius: 100%;
	line-height: .85;
	-webkit-transition: all 0.25s linear;
	-moz-transition: all 0.25s linear;
	-ms-transition: all 0.25s linear;
	-o-transition: all 0.25s linear;
	transition: all 0.25s linear;
}
a.remove:hover {
	background: #f30;
}

/* TOTAL AND CHECKOUT  */
.subtotal {
	float: right;
	width: 300px;
}
