#main-image {
  background: url('/images/main-image.png');
  background-attachment: fixed;
  background-size: cover;
}

.admin-bg {
  background-image: linear-gradient(0deg, #5f6f86 0%, #3b4554 100%);
}
