
// Fonts
@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");

// Variables
@import "variables";

// Bootstrap
@import '~bootstrap/scss/bootstrap';

/* Padding below the footer and lighter body text */
// #main-image {
//     position: relative;
//     z-index: 1;
//     height: 500px;
// }

#main-image:before {
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
	background: url("/storage/main-image.png") center center;
	background-size: auto 100%;
    opacity: 0.9;
}

.active {
	color: rgba(180, 53, 149, 0.829);
	font-size: 10rem;
}
a {
	text-decoration: none !important;
}

/* general CSS
-------------------------------------------------- */

.about-image-container, .about-paragraph-container {
	margin-top: 4rem;
}

.about-image {
	max-width: 100%;
	height: 700px;
}

.about-paragraph-gap {
	margin-bottom: 2rem;
	margin-top: 2rem;
}

.location {
	margin-top: 4rem;
}

.contact {
	margin-top: 3rem;
}

.operation {
	margin-top: 1rem;
}

/* gallery CSS
-------------------------------------------------- */

#lightgallery {
	margin-top: 3rem;
}

#lightgallery > a > img {
	-webkit-transition: -webkit-transform 0.15s ease 0s;
	-moz-transition: -moz-transform 0.15s ease 0s;
	-o-transition: -o-transform 0.15s ease 0s;
	transition: transform 0.15s ease 0s;
	-webkit-transform: scale3d(1, 1, 1);
	transform: scale3d(1, 1, 1);
	height: 100%;
	width: 100%;
}

#lightgallery > a:hover > img {
	-webkit-transform: scale3d(1.1, 1.1, 1.1);
	transform: scale3d(1.1, 1.1, 1.1);
}

/** Pagination **/
.pagination {
	display: flex;
	justify-content: center;
	padding-top: 20px;
}

.pagination a {
	color: rgba(218, 92, 33, 0.842);
}

.page-item.active .page-link {
	background-color: rgba(45, 223, 39, 0.432);
	border-color: rgba(45, 223, 39, 0.432);
}

.page-link:hover {
	color: inherit;
}

/* admin CSS */

.btn-outline-secondary {
	border-color: transparent;
}

@media (max-width: 768px) {
	.btn-outline-secondary {
		padding: 0 0 .5rem;
		border: none;
	}

	.btn-outline-secondary:hover, 
	.btn-outline-secondary:focus, 
	.btn-outline-secondary:active {
		background-color: transparent;
		border: 0;
		box-shadow: none;
	}
}

/* order */

.order a {
	display: flex;
	align-items: center;
	color: rgba(163, 184, 204, 0.678);
}

.order svg {
	height: 20px;
}

/* Image Upload */
.upload-image {
	height:100%;
	display: flex;
	justify-content: center;
}